extends ../../pug/base

block favicon
	include ../../pug/favicon

block app
	base-page.page-index
		template
			header-page(inline-template)
				include ../../components/HeaderPage

			section-page(
				inline-template
				id="agency"
			)
				section.section-page
					base-container
						h2.title Агентствам

					base-container
						nav.tab-bar
							.tab-bar-scroll
								button.tab-bar-item(
									:class="{current: currentTab === 1}"
									@click="currentTab = 1"
								) База новостроек

								button.tab-bar-item(
									:class="{current: currentTab === 2}"
									@click="currentTab = 2"
								) Обучение и мероприятия

								button.tab-bar-item(
									:class="{current: currentTab === 3}"
									@click="currentTab = 3"
								) Бронирование онлайн

								button.tab-bar-item(
									:class="{current: currentTab === 4}"
									@click="currentTab = 4"
								) Межрегиональные сделки

					.tab-frame
						.tab-frame-item(
							v-show="currentTab === 1"
							style="background-image: url(img/bg-1.jpg)"
						)
							img.tab-frame-item-img.number-1(
								src="img/imac3.png"
								alt=""
							)

							base-container
								.tab-content
									.tab-content-body
										//-h3.tab-content-title База новостроек
										//-p.tab-content-desc Мы даем вам базу новостроек, сервис, и платим вам комиссию
										dl
											dt Расширьте свой листинг объектов
											dd Добавьте к ассортименту своих объектов все лучшие новостройки города
											dt Подбирайте квартиры для клиентов
											dd Задавайте параметры. Используйте фильтры. Удивляйте ассортиментом и качеством поиска
											dt Делайте качественные презентации своим клиентам
											dd Отправляйте презентации клиентам прямо из Метрис


									.tab-content-actions
										button-primary(
											tag="a"
											href="http://metris.pro/"
										) Зарегистрироваться

										button-link(
											tag="a"
											href="#geography"
										) Задать вопрос

						.tab-frame-item(
							v-show="currentTab === 2"
							style="background-image: url(img/bg-2.jpg)"
						)
							img.tab-frame-item-img.number-1(
								src="img/imac3.png"
								alt=""
							)

							base-container
								.tab-content
									.tab-content-body
										//-h3.tab-content-title Информация и обучение
										//-p.tab-content-desc Обучение, новости и акции застройщиков – всё в одном приложении
										dl
											dt Участвуйте в мероприятиях дистрибьютора и застройщиков
											dd В системе metris.pro вы всегда будете в курсе профессиональных событий. Записывайтесь на мероприятия прямо из системы
											dt Следите за актуальными новостями и акциями от застройщиков
											dd В Метрис собран уникальный качественный набор профессиональных новостей: акции, юридическая, правовая, рекламная информация по всем новостройкам

									.tab-content-actions
										button-primary(
											tag="a"
											href="http://metris.pro/"
										) Зарегистрироваться

										button-link(
											tag="a"
											href="#geography"
										) Задать вопрос

						.tab-frame-item(
							v-show="currentTab === 3"
							style="background-image: url(img/bg-3.jpg)"
						)
							img.tab-frame-item-img.number-1(
								src="img/imac3.png"
								alt=""
							)

							base-container
								.tab-content
									.tab-content-body
										//-h3.tab-content-title Заголовок
										//-p.tab-content-desc Один договор – доступ к сотням застройщиков
										dl
											dt Бронируйте квартиры ON-LINE
											dd Бронируйте квартиры в Метрис. Используйте фиксацию клиента у застройщика, запись на показы, бронирование и запись на договор. Обо всех событиях по сделке Метрис вовремя оповестит
											dt Отслеживайте состояние всех ваших сделок
											dd Отслеживайте все действия от обращения клиента до получения комиссии. Все документы, подтверждающие взаимоотношения с клиентом, формируются и хранятся в Метрис

									.tab-content-actions
										button-primary(
											tag="a"
											href="http://metris.pro/"
										) Зарегистрироваться

										button-link(
											tag="a"
											href="#geography"
										) Задать вопрос

						.tab-frame-item(
							v-show="currentTab === 4"
							style="background-image: url(img/bg-4.jpg)"
						)
							img.tab-frame-item-img.number-1(
								src="img/imac3.png"
								alt=""
							)

							base-container
								.tab-content
									.tab-content-body
										//-h3.tab-content-title CRM
										//-p.tab-content-desc Все этапы сделки под контролем
										dl
											dt Подключайтесь к любому интересному для вас региону
											dd Предлагайте своим клиентам новостройки центров притяжения клиентов в самых привлекательных городах России
											dt Всё под контролем
											dd Передавайте клиента через систему и отслеживайте прохождение всех этапов сделки в личном кабинете. Получайте высокую комиссию

									.tab-content-actions
										button-primary(
											tag="a"
											href="http://metris.pro/"
										) Зарегистрироваться

										button-link(
											tag="a"
											href="#geography"
										) Задать вопрос

			section-page(
				inline-template
				id="builder"
			)
				section.section-page
					base-container
						h2.title Застройщи&shy;кам

					base-container
						nav.tab-bar
							.tab-bar-scroll
								button.tab-bar-item(
									:class="{current: currentTab === 1}"
									@click="currentTab = 1"
								) Эффективные агентские продажи

								button.tab-bar-item(
									:class="{current: currentTab === 2}"
									@click="currentTab = 2"
								) Оплата за результат

								button.tab-bar-item(
									:class="{current: currentTab === 3}"
									@click="currentTab = 3"
								) Клиенты со всей России

								button.tab-bar-item(
									:class="{current: currentTab === 4}"
									@click="currentTab = 4"
								) Портал для партнёров

					.tab-frame
						.tab-frame-item(
							v-show="currentTab === 1"
							style="background-image: url(img/bg-5.jpg)"
						)
							img.tab-frame-item-img.number-2(
								src="img/droid.png"
								alt=""
							)

							base-container
								.tab-content
									.tab-content-body
										//-h3.tab-content-title +15 000 Агентств
										//-p.tab-content-desc Ваши объекты будут продавать тысячи агентов
										dl
											dt Постройте канал взаимодействия с агентствами
											dd Метрис позволяет быстро и с малыми затратами времени взаимодействовать с большим количеством агентств
											dt Увеличивайте продажи с помощью агентств
											dd Пул агентств-партнёров Метрис во всех регионах постоянно растёт. Получите сделки за счет качественной организации канала агентских продаж дистрибьюторами системы

									.tab-content-actions
										button-primary(
											tag="a"
											href="#geography"
										) Задать вопрос

						.tab-frame-item(
							v-show="currentTab === 2"
							style="background-image: url(img/bg-6.jpg)"
						)
							img.tab-frame-item-img.number-2(
								src="img/droid.png"
								alt=""
							)

							base-container
								.tab-content
									.tab-content-body
										//-h3.tab-content-title Оплата за результат
										//-p.tab-content-desc Мы приведём к вам клиентов со всей России
										dl
											dt Удвойте продажи
											dd Сегодня до 50 % новостроек может реализовываться с помощью агентств. У агентств - клиенты, которые сомневаются в своём выборе. Дайте агентствам мотивацию привести их к вам
											dt Сначала - сделка, потом - оплата
											dd Агентства приводят к вам новых клиентов. Клиенты приносят вам деньги.
												| #[br] Вы платите комиссию только за состоявшуюся сделку

									.tab-content-actions
										button-primary(
											tag="a"
											href="#geography"
										) Задать вопрос

						.tab-frame-item(
							v-show="currentTab === 3"
							style="background-image: url(img/bg-7.jpg)"
						)
							img.tab-frame-item-img.number-2(
								src="img/droid.png"
								alt=""
							)

							base-container
								.tab-content
									.tab-content-body
										//-h3.tab-content-title Клиенты со всей России
										//-p.tab-content-desc Мы приведём к вам клиентов с оплатой за результат
										dl
											dt Охват клиентов - вся Россия
											dd Ваши объекты увидят агенты всей России и покажут их своим клиентам.
												| #[br] Дистрибьютор встретит клиента и проведёт сделку надёжно и профессионально
											dt Технологии сокращают расстояния
											dd Наличие портала и бизнес-процессов позволяет проконсультировать клиента и передать его из любого города России

									.tab-content-actions
										button-primary(
											tag="a"
											href="#geography"
										) Задать вопрос

						.tab-frame-item(
							v-show="currentTab === 4"
							style="background-image: url(img/bg-8.jpg)"
						)
							img.tab-frame-item-img.number-2(
								src="img/droid.png"
								alt=""
							)

							base-container
								.tab-content
									.tab-content-body
										//-h3.tab-content-title 1 договор – 1 менеджер
										//-p.tab-content-desc десятки клиентов в месяц
										dl
											dt Покажите свои квартиры всему агентскому сообществу
											dd Загружайте и обновляйте фиды с квартирографией ваших ЖК в Метрис. Процесс максимально автоматизирован
											dt Получайте брони ON-LINE
											dd Управляйте заявками на фиксацию клиентов, заявками на показы квартир, постановкой на бронь и записью клиентов на договор. Вся информация придёт в вашу систему прямо из Метрис
											dt Расскажите о своих новостях и акциях
											dd Расскажите большой аудитории профессионалов рынка недвижимости о своих объектах, публикуйте акции и новости в Метрис

									.tab-content-actions
										button-primary(
											tag="a"
											href="#geography"
										) Задать вопрос

			section-page(
				inline-template
				id="distribution"
			)
				section.section-page
					base-container
						h2.title Стать Дистрибью&shy;то&shy;ром

					base-container
						nav.tab-bar
							.tab-bar-scroll
								button.tab-bar-item(
									:class="{current: currentTab === 1}"
									@click="currentTab = 1"
								) Кого мы приглашаем

								button.tab-bar-item(
									:class="{current: currentTab === 2}"
									@click="currentTab = 2"
								) Внедрите систему

								button.tab-bar-item(
									:class="{current: currentTab === 3}"
									@click="currentTab = 3"
								) Постройте систему продажи новостроек

								button.tab-bar-item(
									:class="{current: currentTab === 4}"
									@click="currentTab = 4"
								) Подключите всех застройщиков

					.tab-frame
						.tab-frame-item(
							v-show="currentTab === 1"
							style="background-image: url(img/bg-9.jpg)"
						)
							img.tab-frame-item-img.number-3(
								src="img/phone.png"
								alt=""
							)

							base-container
								.tab-content
									.tab-content-body
										//-h3.tab-content-title Шаг 1
										//-p.tab-content-desc Возьмите технологии и инструменты бля построения сети продаж новостроек
										dl
											dt Если в вашем городе ещё нет дистрибьютора Метрис
											dd Стать дистрибьютором может крупное агентство, обладающее опытом успешной реализации новостроек
											dt Хотите системно влиять на установление цивилизованных правил игры?
											dd Если у вашего агентства есть амбиции стать первым номером в регионе по новостройкам и сохранить лидерство надолго - воспользуйтесь нашими лучшими инструментами

									.tab-content-actions
										button-primary(
											tag="a"
											href="http://metris.pro/"
										) Зарегистрироваться

										button-link(
											tag="a"
											href="#geography"
										) Задать вопрос

						.tab-frame-item(
							v-show="currentTab === 2"
							style="background-image: url(img/bg-10.jpg)"
						)
							img.tab-frame-item-img.number-3(
								src="img/phone.png"
								alt=""
							)

							base-container
								.tab-content
									.tab-content-body
										//-h3.tab-content-title Шаг 2
										//-p.tab-content-desc Постройте эффективную сеть продажи новостроек на базе своего агентства
										dl
											dt Сформируйте команду
											dt Пройдите обучение в Санкт-Петербурге
											dt Наполните базу
											dt Предоставляйте сервис Метрис агентствам и застройщикам и зарабатывайте

									.tab-content-actions
										button-primary(
											tag="a"
											href="http://metris.pro/"
										) Зарегистрироваться

										button-link(
											tag="a"
											href="#geography"
										) Задать вопрос

						.tab-frame-item(
							v-show="currentTab === 3"
							style="background-image: url(img/bg-11.jpg)"
						)
							img.tab-frame-item-img.number-3(
								src="img/phone.png"
								alt=""
							)

							base-container
								.tab-content
									.tab-content-body
										//-h3.tab-content-title Шаг 3
										//-p.tab-content-desc Дайте доступ к вашему договору всем агентствам своего региона
										dl
											dt Создавайте уникальную среду агентских продаж и управляйте ей
											dd Формируйте и управляйте сетью агентских продаж по всем застройщикам, присутствующим в вашем регионе. Метрис учитывает все особенности построения такой сети и основывается на многолетнем опыте внедрения
											dt С нами — лучшие
											dd Крупнейшие агентства недвижимости используют Метрис в своем бизнесе. Все бизнес-процессы, связанные с цепочкой агентских продаж, в нашей системе автоматизированы

									.tab-content-actions
										button-primary(
											tag="a"
											href="http://metris.pro/"
										) Зарегистрироваться

										button-link(
											tag="a"
											href="#geography"
										) Задать вопрос

						.tab-frame-item(
							v-show="currentTab === 4"
							style="background-image: url(img/bg-12.jpg)"
						)
							img.tab-frame-item-img.number-3(
								src="img/phone.png"
								alt=""
							)

							base-container
								.tab-content
									.tab-content-body
										//-h3.tab-content-title Шаг 4
										//-p.tab-content-desc Станьте системообразующим игроком по новостройкам в своём регионе
										dl
											dt Ретранслируйте в систему новости, акции, формируйте качественную квартирографию застройщиков
											dd Сделайте портал Метрис главным источником проверенной информации для профессионалов
											dt Настройте поток качественных сделок между агентствами недвижимости и застройщикам
											dd Становитесь главным экспертом в сегменте агентских продаж. Формируйте качественный пул сделок между агентствами и застройщиками. Получайте удовольствие от проделанной работы

									.tab-content-actions
										button-primary(
											tag="a"
											href="http://metris.pro/"
										) Зарегистрироваться

										button-link(
											tag="a"
											href="#geography"
										) Задать вопрос

			section-page(
				inline-template
				id="geography"
			)
				section.section-page
					base-container
						h2.title География

					location-list(inline-template)
						.location-list
							base-container
								.row
									.location
										h3.location-title(title="Centyry21") Centyry21

										ul.location-info
											li.location-info-item
												icon-pin.location-info-item-icon(
												width="13"
												height="13"
												)

												| Иркутск

											li.location-info-item
												icon-fly.location-info-item-icon(
												width="13"
												height="13"
												)

												| IKT

											li.location-info-item.no-wrap
												icon-mail.location-info-item-icon(
												width="12"
												height="9"
												)

												a(href="mailto:metris_ikt@metris.pro") metris_ikt@metris.pro

											li.location-info-item.no-wrap
												icon-phone.location-info-item-icon(
												width="13"
												height="13"
												)

												a(href="tel:+79999999999") +7 (999) 999-9999

									.location
										h3.location-title(title="Авеню новостройки") Авеню новостройки

										ul.location-info
											li.location-info-item
												icon-pin.location-info-item-icon(
												width="13"
												height="13"
												)

												| Калининград

											li.location-info-item
												icon-fly.location-info-item-icon(
												width="13"
												height="13"
												)

												| KGD

											li.location-info-item.no-wrap
												icon-mail.location-info-item-icon(
												width="12"
												height="9"
												)

												a(href="mailto:metris_kgd@metris.pro") metris_kgd@metris.pro

											li.location-info-item.no-wrap
												icon-phone.location-info-item-icon(
												width="13"
												height="13"
												)

												a(href="tel:+79999999999") +7 (999) 999-9999

									.location
										h3.location-title(title="Адвекс-новостройки") Адвекс-новостройки

										ul.location-info
											li.location-info-item
												icon-pin.location-info-item-icon(
												width="13"
												height="13"
												)

												| Санкт- петербург и ЛО

											li.location-info-item
												icon-fly.location-info-item-icon(
												width="13"
												height="13"
												)

												| SPB

											li.location-info-item.no-wrap
												icon-mail.location-info-item-icon(
												width="12"
												height="9"
												)

												a(href="mailto:metris_spb@metris.pro") metris_spb@metris.pro

											li.location-info-item.no-wrap
												icon-phone.location-info-item-icon(
												width="13"
												height="13"
												)

												a(href="tel:+79999999999") +7 (999) 999-9999

									.location
										h3.location-title(title="Всеметры.рф") Всеметры.рф

										ul.location-info
											li.location-info-item
												icon-pin.location-info-item-icon(
												width="13"
												height="13"
												)

												| Самара

											li.location-info-item
												icon-fly.location-info-item-icon(
												width="13"
												height="13"
												)

												| KUF

											li.location-info-item.no-wrap
												icon-mail.location-info-item-icon(
												width="12"
												height="9"
												)

												a(href="mailto:metris_kuf@metris.pro") metris_kuf@metris.pro

											li.location-info-item.no-wrap
												icon-phone.location-info-item-icon(
												width="13"
												height="13"
												)

												a(href="tel:+79999999999") +7 (999) 999-9999

									.location
										h3.location-title(title="Метрис ярославль") Метрис ярославль

										ul.location-info
											li.location-info-item
												icon-pin.location-info-item-icon(
												width="13"
												height="13"
												)

												| Ярославль

											li.location-info-item
												icon-fly.location-info-item-icon(
												width="13"
												height="13"
												)

												| IAR

											li.location-info-item.no-wrap
												icon-mail.location-info-item-icon(
												width="12"
												height="9"
												)

												a(href="mailto:metris_iar@metris.pro") metris_iar@metris.pro

											li.location-info-item.no-wrap
												icon-phone.location-info-item-icon(
												width="13"
												height="13"
												)

												a(href="tel:+79999999999") +7 (999) 999-9999

									.location
										h3.location-title(title="Миэль-новостройки") Миэль-новостройки

										ul.location-info
											li.location-info-item
												icon-pin.location-info-item-icon(
												width="13"
												height="13"
												)

												| Москва и МО

											li.location-info-item
												icon-fly.location-info-item-icon(
												width="13"
												height="13"
												)

												| MSK

											li.location-info-item.no-wrap
												icon-mail.location-info-item-icon(
												width="12"
												height="9"
												)

												a(href="mailto:metris_msk@metris.pro") metris_msk@metris.pro

											li.location-info-item.no-wrap
												icon-phone.location-info-item-icon(
												width="13"
												height="13"
												)

												a(href="tel:+79999999999") +7 (999) 999-9999

									.location
										h3.location-title(title="Перспектива 24") Перспектива 24

										ul.location-info
											li.location-info-item
												icon-pin.location-info-item-icon(
												width="13"
												height="13"
												)

												| Ульяновск

											li.location-info-item
												icon-fly.location-info-item-icon(
												width="13"
												height="13"
												)

												| ULY

											li.location-info-item.no-wrap
												icon-mail.location-info-item-icon(
												width="12"
												height="9"
												)

												a(href="mailto:metris_uly@metris.pro") metris_uly@metris.pro

											li.location-info-item.no-wrap
												icon-phone.location-info-item-icon(
												width="13"
												height="13"
												)

												a(href="tel:+79999999999") +7 (999) 999-9999

									.location
										h3.location-title(title="Перспектива 24") Перспектива 24

										ul.location-info
											li.location-info-item
												icon-pin.location-info-item-icon(
												width="13"
												height="13"
												)

												| Барнаул

											li.location-info-item
												icon-fly.location-info-item-icon(
												width="13"
												height="13"
												)

												| BAX

											li.location-info-item.no-wrap
												icon-mail.location-info-item-icon(
												width="12"
												height="9"
												)

												a(href="mailto:metris_bax@metris.pro") metris_bax@metris.pro

											li.location-info-item.no-wrap
												icon-phone.location-info-item-icon(
												width="13"
												height="13"
												)

												a(href="tel:+79999999999") +7 (999) 999-9999

									.location
										h3.location-title(title="Продажи-просто") Продажи-просто

										ul.location-info
											li.location-info-item
												icon-pin.location-info-item-icon(
												width="13"
												height="13"
												)

												| Йошкар-Ола

											li.location-info-item
												icon-fly.location-info-item-icon(
												width="13"
												height="13"
												)

												| JOK

											li.location-info-item.no-wrap
												icon-mail.location-info-item-icon(
												width="12"
												height="9"
												)

												a(href="mailto:metris_jok@metris.pro") metris_jok@metris.pro

											li.location-info-item.no-wrap
												icon-phone.location-info-item-icon(
												width="13"
												height="13"
												)

												a(href="tel:+79999999999") +7 (999) 999-9999

									.location
										h3.location-title(title="Департамент регионального развития") Департамент регионального развития

										ul.location-info
											li.location-info-item
												icon-pin.location-info-item-icon(
												width="13"
												height="13"
												)

												| Иркутск

											li.location-info-item.no-wrap
												icon-phone.location-info-item-icon(
												width="13"
												height="13"
												)

												a(href="tel:+79999999999") +7 (999) 999-9999

			feedback-form(
				inline-template
				id="feedback"
			)
				form.feedback-form
					base-container
						.row
							.col.size-50
								label.label(for="name") Вас зовут

								input.field(
								type="text"
								name="name"
								id="name"
								required
								)

							.col.size-50
								label.label(for="city") Ваш город

								select.select(
								name="city"
								id="city"
								)
									option Выберите
									option Иркутск
									option Калининград
									option Санкт- петербург и ЛО
									option Самара
									option Ярославль
									option Москва и МО
									option Ульяновск
									option Барнаул
									option Йошкар-Ола

						.row
							.col.size-50
								label.label(for="tel") Ваш телефон

								input.field(
								type="tel"
								name="tel"
								id="tel"
								ref="tel"
								required
								minlength="17"
								maxlength="17"
								pattern="\\+7 \\([0-9]{3}\\) [0-9]{3}-[0-9]{4}"
								)

							.col.size-50
								label.label(for="email") Ваш E-mail

								input.field(
								type="email"
								name="email"
								id="email"
								)

						.row
							.col
								label.label(for="message") Сообщение

								textarea.textarea(
								name="message"
								id="message"
								)

						.row.actions
							.col.size-50
								.g-recaptcha(data-sitekey="6LdwR5IUAAAAADEUrh2tEWGEJOFwn7Bxe4XpiPWy")

							.col.size-50.justify-content-right
								button-primary Отправить

			section.page-index-section
				base-container
					base-content
						p.
							Как появился Метрис? Представьте. Вы - крупное агентство недвижимости.
							Вы имеете сильные позиции почти во всех сегментах: вторичное жильё, аренда,
							коммерческая недвижимость. А новостройки, по какой-то причине, остаются одним из побочных
							сегментов. Да, сделки есть, но агенты не особо любят продавать новостройки. Нет уверенности,
							что клиент не уйдёт в отдел продаж застройщика. Нет уверенности, что получишь комиссию.
							В конце концов, вознаграждение тоже не радует – на вторичке больше… Вот и получается,
							что клиенты, может, и купили бы новостройку – а агенты не особо хотя продавать.
							Нет продаж – нет квалификации – не потока клиентов – круг замкнулся.

						p.
							Но давайте помечтаем.
							Был бы у меня отдел, который занимается новостройками профессионально.
							Заключает договоры с застройщиками на выгодных условиях… Обучает агентов работать с
							новостройками… Ведёт базы остатков, маркетинговых материалов, регламентов…
							Помогает на сделках… Мы бы давали застройщиками приличные объёмы – а взамен получали бы
							уважительное отношение и достойное вознаграждение. Заманчиво? А теперь спустим вас с небес
							на землю. Это – возможно! Мы сделали это в Санкт-Петербурге.
							Мы делаем это прямо сейчас в Москве, Самаре, Ярославле, Барнауле, Ульяновске, Йошкар-Оле и
							ещё нескольких регионах. Это возможно и в вашем городе.
							Как? Задайте вопрос о региональной программе Метрис.

			footer-page(inline-template)
				include ../../components/FooterPage

block scripts-body
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
