header.header-page
	base-container.top
		a.logo(
			href="/"
			title="Metris"
		)
			img.logo-img(
				src="img/metris.png"
				alt="Metris"
			)

	base-container.middle
		h1.title Федера&shy;ль&shy;ный портал недвижи&shy;мос&shy;ти для профессио&shy;на&shy;лов

	base-container.bottom
		.menu
			article.menu-item
				.menu-item-gutter
				h2.menu-item-title Агентствам

				.menu-item-icon
					agency-icon(
						width="64"
						height="64"
					)

				footer.menu-item-footer
					button-primary(
						tag="a"
						href=""
					) Хочу знать больше

					a.menu-item-link(href="") Задать вопрос

			article.menu-item
				.menu-item-gutter
				h2.menu-item-title Застройщикам

				.menu-item-icon
					builder-icon(
						width="57"
						height="58"
					)

				footer.menu-item-footer
					button-primary(
						tag="a"
						href=""
					) Хочу знать больше

					a.menu-item-link(href="") Задать вопрос

			article.menu-item
				.menu-item-gutter
				h2.menu-item-title Дистрибьюторам

				.menu-item-icon
					distribution-icon(
						width="85"
						height="70"
					)

				footer.menu-item-footer
					button-primary(
						tag="a"
						href=""
					) Хочу знать больше

					a.menu-item-link(href="") Задать вопрос
